.v-button-container {
  position: relative;
  display: inline-block;
}

.v-button {
  padding: var(--padding-x-small);
  border: none;
  cursor: pointer;
  line-height: var(--line-height-9);
  border-radius: var(--border-radius-small);
  font-size: var(--font-size-4);
  transition: all var(--transition-duration-2);
  opacity: 1;
  position: relative;
  z-index: 1;
  background-color: var(--gray-1);
  border-width: 1px;
  border-style: solid;
  font-weight: 500;
  border-color: color-mix(in srgb, currentColor 20%, transparent);
  white-space: nowrap;
  opacity: 0.95;
  &:hover {
    opacity: 0.8;
    color: var(--blue-6);
  }
  &:active {
    opacity: 1;
  }
}
.v-button--dashed {
  border-style: dashed;
}
.v-button--dotted {
  border-style: dotted;
}
.v-button--link {
  border-style: none;
}
.v-button--round {
  border-radius: 9999px;
}
.v-button--circle {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  line-height: 0;
  padding: var(--padding-circle-1);
}
.v-button--small {
  line-height: 0;
  padding: var(--padding-xy-small);
}
.v-button--large {
  padding: var(--padding-xy-large);
  font-size: var(--font-size-5);
}
.is-disabled {
  cursor: not-allowed;
  opacity: 0.3;
  &:hover {
    opacity: 0.3;
  }
}

.v-button-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-small);
  animation: button-ripple var(--transition-duration-4) ease-out;
  pointer-events: none;
  z-index: 0;
}
.v-button--circle ~ .v-button-bg {
  border-radius: 50%;
}

.v-button--round ~ .v-button-bg {
  border-radius: 9999px;
}
@keyframes button-ripple {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.15, 1.45);
    opacity: 0;
  }
}

.v-button--circle ~ .v-button-bg {
  animation: button-ripple-circle var(--transition-duration-4) ease-out;
}

@keyframes button-ripple-circle {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
