.VCodePreview {
  width: 80%;
  display: flex;
  flex-direction: column;
  .demo {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: var(--v-border-1);
    border-radius: var(--v-border-radius-8);
    padding: var(--v-padding-24);
  }
  .tools {
    display: flex;
    flex-direction: row-reverse;
    margin: 12px 0;
    .spread {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
