.VCode {
  background-color: #2a2d3d;
  padding: var(--v-padding-24);
  border-radius: var(--v-border-radius-8);
  color: rgba(255, 255, 255);
  font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
  position: relative;

  .code-wrapper {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  code {
    display: block;
    white-space: pre;
    font-family: inherit;
    font-size: 14px;
  }

  :deep(code > span) {
    display: block;
  }

  :deep(.hljs-keyword),
  :deep(.hljs-selector-tag),
  :deep(.hljs-built_in),
  :deep(.hljs-name),
  :deep(.hljs-tag) {
    color: #85e89d !important;
    font-weight: 600 !important;
  }
  :deep(.hljs-attr) {
    color: #b392f0 !important;
    font-weight: 600 !important;
  }
  :deep(.hljs-string),
  :deep(.hljs-title),
  :deep(.hljs-section),
  :deep(.hljs-attribute),
  :deep(.hljs-literal),
  :deep(.hljs-template-tag),
  :deep(.hljs-template-variable),
  :deep(.hljs-type),
  :deep(.hljs-addition) {
    color: #9ecbff !important;
  }

  :deep(.hljs-comment),
  :deep(.hljs-quote),
  :deep(.hljs-deletion),
  :deep(.hljs-meta) {
    color: #7dfcf4 !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
  }

  :deep(.hljs-function),
  :deep(.hljs-class),
  :deep(.hljs-title.class_),
  :deep(.hljs-title.function_) {
    color: #b392f0 !important;
  }

  :deep(.hljs-variable),
  :deep(.hljs-params) {
    color: #ffd866 !important;
  }

  :deep(.hljs-regexp),
  :deep(.hljs-link) {
    color: #f97583 !important;
  }

  .lang {
    color: rgba(255, 255, 255, 0.55);
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 12px;
    user-select: none;
  }

  .tools {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    opacity: 0;
    transition: all 0.3s;
    &:hover {
      opacity: 1;
    }
    .download,
    .copy {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.55);
      cursor: pointer;
      border-radius: 8px;
      padding: 6px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.096);
      }
    }
  }

  .buttons {
    position: absolute;
    top: 12px;
    left: 24px;
    display: flex;
    align-items: center;
    gap: 8px;

    .dots {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }
    .red {
      background-color: #ed6a5e;
    }
    .yellow {
      background-color: #f5bd4f;
    }
    .green {
      background-color: #61c454;
    }

    .path {
      margin-left: 12px;
      color: rgba(255, 255, 255, 0.75);
      font-weight: 900;
      user-select: none;
    }
  }
}

.VCode.with-lines {
  counter-reset: v-code-line;

  :deep(code > span) {
    position: relative;
    padding-left: 3.5em;
  }

  :deep(code > span)::before {
    counter-increment: v-code-line;
    content: counter(v-code-line);
    position: absolute;
    left: 0;
    width: 1em;
    text-align: right;
    color: rgba(255, 255, 255, 0.55);
    user-select: none;
  }
}

.beauty {
  padding: 48px 24px 24px 24px;
}
