:root {
  --v-color-primary: #1677ff;
  // 薄暮
  --v-red-1: #fff1f0;
  --v-red-2: #ffccc7;
  --v-red-3: #ffa39e;
  --v-red-4: #ff7875;
  --v-red-5: #ff4d4f;
  --v-red-6: #f5222d;
  --v-red-7: #cf1322;
  --v-red-8: #a8071a;
  --v-red-9: #820014;
  --v-red-10: #5c0011;

  // 火山
  --v-volcano-1: #fff2e8;
  --v-volcano-2: #ffd8bf;
  --v-volcano-3: #ffbb96;
  --v-volcano-4: #ff9c6e;
  --v-volcano-5: #ff7a45;
  --v-volcano-6: #fa541c;
  --v-volcano-7: #d4380d;
  --v-volcano-8: #ad2102;
  --v-volcano-9: #871400;
  --v-volcano-10: #610b00;

  // 日暮
  --v-orange-1: #fff7e6;
  --v-orange-2: #ffe7ba;
  --v-orange-3: #ffd591;
  --v-orange-4: #ffc069;
  --v-orange-5: #ffa940;
  --v-orange-6: #fa8c16;
  --v-orange-7: #d46b08;
  --v-orange-8: #ad4e00;
  --v-orange-9: #873800;
  --v-orange-10: #612500;

  // 金盏花
  --v-gold-1: #fffbe6;
  --v-gold-2: #fff1b8;
  --v-gold-3: #ffe58f;
  --v-gold-4: #ffd666;
  --v-gold-5: #ffc53d;
  --v-gold-6: #faad14;
  --v-gold-7: #d48806;
  --v-gold-8: #ad6800;
  --v-gold-9: #874d00;
  --v-gold-10: #613400;

  // 日出
  --v-yellow-1: #feffe6;
  --v-yellow-2: #ffffb8;
  --v-yellow-3: #fffb8f;
  --v-yellow-4: #fff566;
  --v-yellow-5: #ffec3d;
  --v-yellow-6: #fadb14;
  --v-yellow-7: #d4b106;
  --v-yellow-8: #ad8b00;
  --v-yellow-9: #876800;
  --v-yellow-10: #614700;

  // 青柠
  --v-lime-1: #fcffe6;
  --v-lime-2: #f4ffb8;
  --v-lime-3: #eaff8f;
  --v-lime-4: #d3f261;
  --v-lime-5: #bae637;
  --v-lime-6: #a0d911;
  --v-lime-7: #7cb305;
  --v-lime-8: #5b8c00;
  --v-lime-9: #3f6600;
  --v-lime-10: #254000;

  // 极光绿
  --v-green-1: #f6ffed;
  --v-green-2: #d9f7be;
  --v-green-3: #b7eb8f;
  --v-green-4: #95de64;
  --v-green-5: #73d13d;
  --v-green-6: #52c41a;
  --v-green-7: #389e0d;
  --v-green-8: #237804;
  --v-green-9: #135200;
  --v-green-10: #092b00;

  // 明青
  --v-cyan-1: #e6fffb;
  --v-cyan-2: #b5f5ec;
  --v-cyan-3: #87e8de;
  --v-cyan-4: #5cdbd3;
  --v-cyan-5: #36cfc9;
  --v-cyan-6: #13c2c2;
  --v-cyan-7: #08979c;
  --v-cyan-8: #006d75;
  --v-cyan-9: #00474f;
  --v-cyan-10: #002329;

  // 拂晓蓝
  --v-blue-1: #e6f4ff;
  --v-blue-2: #bae0ff;
  --v-blue-3: #91caff;
  --v-blue-4: #69b1ff;
  --v-blue-5: #4096ff;
  --v-blue-6: #1677ff;
  --v-blue-7: #0958d9;
  --v-blue-8: #003eb3;
  --v-blue-9: #002c8c;
  --v-blue-10: #001d66;

  // 极客蓝
  --v-geekblue-1: #f0f5ff;
  --v-geekblue-2: #d6e4ff;
  --v-geekblue-3: #adc6ff;
  --v-geekblue-4: #85a5ff;
  --v-geekblue-5: #597ef7;
  --v-geekblue-6: #2f54eb;
  --v-geekblue-7: #1d39c4;
  --v-geekblue-8: #10239e;
  --v-geekblue-9: #061178;
  --v-geekblue-10: #030852;

  // 酱紫
  --v-purple-1: #f9f0ff;
  --v-purple-2: #efdbff;
  --v-purple-3: #d3adf7;
  --v-purple-4: #b37feb;
  --v-purple-5: #9254de;
  --v-purple-6: #722ed1;
  --v-purple-7: #531dab;
  --v-purple-8: #391085;
  --v-purple-9: #22075e;
  --v-purple-10: #120338;

  // 法式洋红
  --v-magenta-1: #fff0f6;
  --v-magenta-2: #ffd6e7;
  --v-magenta-3: #ffadd2;
  --v-magenta-4: #ff85c0;
  --v-magenta-5: #f759ab;
  --v-magenta-6: #eb2f96;
  --v-magenta-7: #c41d7f;
  --v-magenta-8: #9e1068;
  --v-magenta-9: #780650;
  --v-magenta-10: #520339;

  // 中性色板
  --v-gray-1: #ffffff;
  --v-gray-2: #fafafa;
  --v-gray-3: #f5f5f5;
  --v-gray-4: #f0f0f0;
  --v-gray-5: #d9d9d9;
  --v-gray-6: #bfbfbf;
  --v-gray-7: #8c8c8c;
  --v-gray-8: #595959;
  --v-gray-9: #434343;
  --v-gray-10: #262626;
  --v-gray-11: #1f1f1f;
  --v-gray-12: #141414;
  --v-gray-13: #000000;
}
