:root {
  /* 内边距 padding */
  --padding-x-8: 0 8px;
  --padding-x-16: 0 16px;
  --padding-x-24: 0 24px;
  /* border 圆角 */
  --border-radius-4: 4px;
  --border-radius-6: 6px;
  --border-radius-8: 8px;
}
