:root {
  //圆角尺寸
  --v-border-radius-6: 6px;
  --v-border-radius-8: 8px;
  //内边距padding
  --v-padding-0-24: 0 24px;
  --v-padding-24: 24px;
  // 边框
  --v-border-1: 1px solid var(--v-border-color-1);
}
