:root {
  /* 内边距 padding */
  --padding-x-8: 0 8px;
  --padding-x-16: 0 16px;
  --padding-x-24: 0 24px;
  --padding-x-12-y-16: 12px 16px;
  /* border 圆角 */
  --border-radius-4: 4px;
  --border-radius-6: 6px;
  --border-radius-8: 8px;
  /* border颜色 */
  --border-color-1: rgb(30 32 37 / 0.15);
  /* gap边距 */
  --gap-12: 12px;
}
