.v-collapse-group {
  width: 100%;
  border-radius: var(--border-radius-8);
  height: auto;
  overflow: hidden;
}
.v-collapse {
  display: flex;
  flex-direction: column;
}
.v-collapse:not(:last-child) {
  border-bottom: 1px solid var(--border-color-1);
}
.v-collapse__header {
  background-color: var(--bg-2);
  cursor: pointer;
  display: flex;
  padding: var(--padding-x-12-y-16);
  justify-content: space-between;
  transition: border var(--transition-duration-2);
  align-items: center;
  user-select: none;
  .v-collapse__header__left {
    display: flex;
    align-items: center;
    gap: var(--gap-12);
    letter-spacing: 2px;
  }
}
.v-collapse__content {
  overflow: hidden;
  background-color: var(--bg-1);
  transition: opacity var(--transition-duration-2) linear;
  opacity: 1;
  .container {
    margin: var(--padding-x-12-y-16);
  }
}
.is-disabled {
  cursor: not-allowed;
  opacity: 0.3;
  .v-collapse__header {
    pointer-events: none;
  }
}
.collapse-enter-active,
.collapse-leave-active {
  transition: height 0.3s ease;
  overflow: hidden;
}

.collapse-enter-from,
.collapse-leave-to {
  height: 0px;
}
