.VThemeToggle {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 6px;
  &:focus-visible {
    outline-offset: 2px;
  }
}
